<meta charset="utf-8"/>
<title>FIMGC - UNSCH</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->

<link th:href="@{/admin/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/admin/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/admin/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/admin/plugins/uniform/css/uniform.default.css}" rel="stylesheet" type="text/css">
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link th:href="@{/admin/css/components-rounded.css}" id="style_components" rel="stylesheet" type="text/css">
<link th:href="@{/admin/css/plugins.css}" rel="stylesheet" type="text/css">
<link th:href="@{/admin/css/layout.css}" rel="stylesheet" type="text/css">
<link th:href="@{/admin/css/themes/default.css}" rel="stylesheet" type="text/css" id="style_color">
<link th:href="@{/admin/css/custom.css}" rel="stylesheet" type="text/css">
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>